body, html {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white; /* Ensure text is visible against the black background */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px; /* Added padding for spacing */
  background-color: black;
}

.top-controls {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  justify-content: space-between; /* Better space distribution */
  padding: 10px;
}

.control-box {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 10px; /* Adjusted margin for alignment */
  flex: 1 1 auto; /* Allows boxes to grow and shrink */
  border-radius: 5px; /* Added for rounded corners */
}

.text-box {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 20px; /* Adjusted margin for better spacing */
  flex-grow: 1;
  text-align: center;
  border-radius: 5px; /* Added for rounded corners */
}

/* Timer and stopwatch styles */
#timer-container, #stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input[type="number"] {
  margin: 0 5px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px; /* Added for rounded corners */
  text-align: center;
}

button {
  margin: 0 5px;
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Added for rounded corners */
}

button:hover {
  background-color: #777; /* Added hover effect */
}

button:focus {
  outline: none;
}

#text-output {
  font-size: 2em;
  margin-top: 10px; /* Spacing above the display */
}

#options {
  display: flex;
  justify-content: center; /* Aligns items on the main-axis (horizontal by default) */
  align-items: center; /* Aligns items on the cross-axis (vertical if the main-axis is horizontal) */
}

#stopclock{
  display: flex;
  justify-content: center; /* Aligns items on the main-axis (horizontal by default) */
  align-items: center; /* Aligns items on the cross-axis (vertical if the main-axis is horizontal) */
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .top-controls {
      flex-direction: column;
  }

  .control-box {
      margin-bottom: 20px; /* Increased spacing on mobile */
      width: 100%; /* Full width on mobile */
  }
}
